$('#flash').html("");
<% if !flash.empty? %>
  <% flash.each do |k,v| %>
    <% if (k == "alert") %>
      $('#flash').append("<div class=\"alert alert-danger\" role=\"alert\"><%= v %></div>");
    <% else %>
      $('#flash').append("<div class=\"alert alert-warning\" role=\"alert\"><%= v %></div>");
    <% end %>
  <% end %>
<% else %>
  $('#task_content').html("<%= j render partial: "form", locals: { project: @project, task: @task } %>");
<% end %>