<div class="container" style="margin-left:-15px">
  <div class="row">
    <h2>Projects</h2>
  </div>
  <% @projects.each do |project| %>
    <div class="row">
      <%= link_to project.title, project_path(project) %>
      <span class="pull-right">
        <%= link_to "edit", edit_project_path(project), class: "btn btn-warning" %>
        <%= link_to "delete", project_path(project), method: :delete, data: {confirm: "Are you sure? This is permanent and cannot be undone."}, class: "btn btn-danger" %>
      </span>
    </div>
  <% end %>
</div>